/*******************************************************************/
/* Created: June 2 2017 by Troy Center, troycenter1@gmail.com.     */
/* COding Dojo practice with external images, paired programming.  */
/*******************************************************************/

/***************************************************/
/*               CSS reset settings                */
/***************************************************/

*{
    margin: 0px;
    padding: 0px;
}
#titlebar {
    height: 50px; 
    width: 1300px; 
    text-align: center; 
    background-image: linear-gradient(75deg, darkgrey,grey);
    position: fixed;
}
#pokemain {
    width: 1300px;
    height: 2600px;
    background-color: green;

}
#pokearea {
    width: 1000px;
    height: 2500px;
    background-color: grey;
    display: inline-block;
    margin-top: 50px;
}
#pokeinfo {
    border: 25px solid red;
    background-color: white;
    margin-top: 50px;
    width: 250px;
    height: 500px;
    display: inline-block;
    position: fixed;
    float: right;


}

footer {
    font-size: 8px;
    font-weight: lighter;
}